<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Pagination</title>
    <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
    <link rel='stylesheet' href='../../static/css/javascript/pagination.css'>
    <script src='https://kit.fontawesome.com/bfe7a3e22e.js' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' charset='utf-8'></script>
</head>

<body>

    <main class='container'>
        <div class='card-content' style='display: none'>

            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 01</h3>
                    <p class='texto1'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 02</h3>
                    <p class='texto2'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 03</h3>
                    <p class='texto3'></p>
                </div>
            </div>

            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 04</h3>
                    <p class='texto3'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 05</h3>
                    <p class='texto1'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 06</h3>
                    <p class='texto2'></p>
                </div>
            </div>

            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 07</h3>
                    <p class='texto2'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 08</h3>
                    <p class='texto3'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 09</h3>
                    <p class='texto1'></p>
                </div>
            </div>

            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 10</h3>
                    <p class='texto1'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 11</h3>
                    <p class='texto2'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 12</h3>
                    <p class='texto3'></p>
                </div>
            </div>

            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 13</h3>
                    <p class='texto3'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 14</h3>
                    <p class='texto1'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 15</h3>
                    <p class='texto2'></p>
                </div>
            </div>

            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 16</h3>
                    <p class='texto2'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 17</h3>
                    <p class='texto3'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 18</h3>
                    <p class='texto1'></p>
                </div>
            </div>

            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 19</h3>
                    <p class='texto1'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 20</h3>
                    <p class='texto2'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 21</h3>
                    <p class='texto3'></p>
                </div>
            </div>

            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 22</h3>
                    <p class='texto3'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 23</h3>
                    <p class='texto1'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 24</h3>
                    <p class='texto2'></p>
                </div>
            </div>

            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 25</h3>
                    <p class='texto2'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 26</h3>
                    <p class='texto3'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 27</h3>
                    <p class='texto1'></p>
                </div>
            </div>

            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 28</h3>
                    <p class='texto1'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 29</h3>
                    <p class='texto2'></p>
                </div>
            </div>
            <div class='card'>
                <div class='card-image'><img src='' alt=''></div>
                <div class='card-info'>
                    <h3>Card 30</h3>
                    <p class='texto3'></p>
                </div>
            </div>

        </div>

        <div class='pagination'>
        </div>
    </main>

    <script src='../../static/js/javascript/pagination.js'></script>
</body>

</html>