<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
    <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
    <link rel='stylesheet' href='../../static/css/html/links.css'>
</head>

<body>
    <h1>Links</h1>

    <h2>Target: Blank</h2>
    <a href="https://www.google.com.br/" target="_blank">Google</a>
    <br>
    <h2>Target: Self</h2>
    <a class="link" href="./links-self.html" target="_self" title="Login">Login</a>
</body>

</html>