<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Tabelas</title>
    <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
    <link rel='stylesheet' href='../../static/css/html/tabelas.css'>
</head>

<body>
    <main class='container'>

        <table class="table">
            <caption class="caption">Pedido de Venda</caption>

            <thead class="thead">
                <tr>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                </tr>
            </thead>

            <tbody class="tbody">
                <tr>
                    <td>item 1</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>item 2</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>item 3</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </tbody>

            <tfoot class="tfoot">
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>

    </main>
</body>

</html>