* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

.margim-tb {
    margin: 3rem 0rem;
}

.flex-row-around {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h1, .h2 {
    font-weight: 300;
}

.h1 {
    font-size: 2.5rem;
}

.h2 {
    font-size: 2rem;
}

.h1,
.h2 {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}

.ul li,
.ol li {
    margin-left: 3rem;
    padding-bottom: 0.5rem;
}