<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashtag - Aulas</title>
    <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
</head>

<body>

    <h1>Hashtag Treinamentos - Aulas</h1>

    <h2>Javascript, HTML, CSS</h2>
    <ul>
        <li><a href='../../static/js/aulas/hashtag/01funcoes.js' target="_blank">JS - Funções</a></li>
    </ul>
    <h2>SQL</h2>
    <h2>Python</h2>

</body>

</html>