<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Listas</title>
    <link rel='shortcut icon' href='../static/img/logo.png' type='image/x-icon'>
    <link rel='stylesheet' href='../static/css/listas.css'>
</head>

<body>

    <main class='container flex-row-around margim-tb'>

        <section>
            <h1 class='h1'>Listas não ordenadas</h1>

            <div class='ul'>
                <h2 class='h2'>Style: disc</h2>
                <ul style='list-style-type: disc;'>
                    <li>Café</li>
                    <li>
                        Chá
                        <ul>
                            <li>Chá Preto</li>
                            <li>Chá Verde</li>
                        </ul>
                    </li>
                    <li>Leite</li>
                </ul>
            </div>

            <div class='ul'>
                <h2 class='h2'>Style: circle</h2>
                <ul style='list-style-type: circle;'>
                    <li>Café</li>
                    <li>Chá</li>
                    <li>Leite</li>
                </ul>
            </div>

            <div class='ul'>
                <h2 class='h2'>Style: square</h2>
                <ul style='list-style-type: square;'>
                    <li>Café</li>
                    <li>Chá</li>
                    <li>Leite</li>
                </ul>
            </div>

            <div class='ul'>
                <h2 class='h2'>Style: none</h2>
                <ul style='list-style-type: none;'>
                    <li>Café</li>
                    <li>Chá</li>
                    <li>Leite</li>
                </ul>
            </div>
        </section>

        <section>
            <h1 class='h1'>Listas ordenadas</h1>

            <div class="ol">
                <h2 class='h2'>Type: números</h2>
                <ol type='1' start='78'>
                    <li>Café</li>
                    <li>Chá</li>
                    <li>Leite</li>
                </ol>
            </div>

            <div class="ol">
                <h2 class='h2'>Type: letra maiuscula</h2>
                <ol type='A'>
                    <li>Café</li>
                    <li>Chá</li>
                    <li>Leite</li>
                </ol>
            </div>

            <div class="ol">
                <h2 class='h2'>Type: letra minuscula</h2>
                <ol type='a'>
                    <li>Café</li>
                    <li>Chá</li>
                    <li>Leite</li>
                </ol>
            </div>

            <div class="ol">
                <h2 class='h2'>Type: algaritmos romanos maiusculos</h2>
                <ol type='I'>
                    <li>Café</li>
                    <li>Chá</li>
                    <li>Leite</li>
                </ol>
            </div>

            <div class="ol">
                <h2 class='h2'>Type: algaritmos romanos minusculos</h2>
                <ol type='i'>
                    <li>Café</li>
                    <li>Chá</li>
                    <li>Leite</li>
                </ol>
            </div>
        </section>
    </main>

</body>

</html>